.digs{
	background-color: #00FF00 !important;
	color: #2c3e50 !important;
}

.textbook{
	background-color: #19B8FC !important;
	color: #2c3e50 !important;
}

.goods{
	background-color: #FAB32F !important;
	color: #2c3e50 !important;
}

.mainheading{
	font-family: 'Gorditas', cursive !important;
}

.submain1{
	font-family: 'Schoolbell', cursive !important;
}
.footer_back{
	margin: 0 auto;
	height: 40px;
	text-align: center;
}
.footer_back p{
	padding-top50px;
	
}